/* Page wide styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
  margin: 0;
  padding: 0;
}

/* Setup general colors for the page */
h1,
a.main_link {
  color: #000;
}

.nav_link,
p {
  color: #69696a;
}

.button_link {
  color: #fff;
  background-color: #000;
}

/* Specific styling */
/* Header */
header {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

/* Nav Bar */
nav {
  display: flex;
  flex-direction: column;
}

/* Links */
a {
  text-decoration: none;
}

/* Main Link */
.main_link {
  margin: 5px 0px;
}

/* Navigation Links */
.nav_link {
  margin: 5px 0px;
  width: fit-content;
}

/* Buttons */
.button_link {
  /* box-sizing: border-box; */
  border-radius: 20px;
  display: block;
  padding: 10px;
  margin: auto 5px;
  width: auto;
  text-align: center;
}

/* Paragraphs */
p {
  border-left-style: solid;
  border-left-color: #69696a;
  border-left-width: 3px;
  padding-left: 10px;
}
