/* Page wide styles */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fafc;
}

/* Setup general colors for the page */
h1,
h2 {
  color: #000;
}

.nav_link,
p {
  color: #69696a;
}

.button_link {
  color: #fff;
  background-color: #000;
}

/* Styles for all elements of specific types */
/* Nav Bar */
nav {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

/* Links */
a {
  text-decoration: none;
}

/* Navigation Links */
.nav_link {
  margin: 5px 0px;
}

/* Buttons */
.button_link {
  box-sizing: border-box;
  border-radius: 15px;
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
}

/* Headings */
h2 {
  margin: 5px 0px;
}

/* Paragraphs */
p {
  border-left-style: solid;
  border-left-color: #69696a;
  border-left-width: 3px;
  padding-left: 10px;
}
